.form-box{
    width: 400px;
    height: 250px;
    /* border: 1px solid black; */
}

.container{
    height: 82vh;
}

.pwd{
    position: relative;
}

/* .input-pwd{
    position: relative;
} */

.show-hide{
    border: none;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 85%;
    z-index: 100;
}